In [1]:
from despliegue.loaders import *
from despliegue.nodos import *
from despliegue.contenedores import *
from despliegue.solvers import *
import pandas as pd
from os import path

Se definen las rutas de los datos, y también el `DataFrame` de la Red Móvil, ya que no posee la vacancia, y hay que asignarla a mano.

In [2]:
PATH_DATA = path.join("./data/")
PATH_CLIENTES = path.join(PATH_DATA, "Direcciones_Colina.xlsx")
PATH_FO = path.join(PATH_DATA, "CTO_Colina.xlsx")
PATH_RM = path.join(PATH_DATA, "SITIOS 4G TDD.xlsx")

In [3]:
df_clientes = pd.read_excel(PATH_CLIENTES)
df_clientes = df_clientes[df_clientes.gl_lat_OK <= -1]  # limpiamos aquellos que sean de lat-lon=0
df_clientes.describe()

       pcm_area_tel   gl_lat_OK   gl_lon_OK
count  2.750000e+02  275.000000  275.000000
mean   2.286022e+08  -33.200679  -70.672530
std    1.034212e+06    0.013769    0.011696
min    2.240048e+08  -33.301086  -70.723406
25%    2.284422e+08  -33.207438  -70.679538
50%    2.284444e+08  -33.202714  -70.673384
75%    2.284477e+08  -33.192004  -70.666531
max    2.329671e+08  -33.173324  -70.632150

In [4]:
df_clientes.at[1, "zona"] = 8
df_clientes

     pcm_area_tel zona  gl_lat_OK  gl_lon_OK pcm_comuna_inst
0       228440583   RM -33.205060 -70.671429          COLINA
1       228603381    8 -33.181246 -70.659071          COLINA
2       228602696   RM -33.194427 -70.667572          COLINA
3       228449326   RM -33.203642 -70.673384          COLINA
4       228440972   RM -33.181033 -70.646756          COLINA
..            ...  ...        ...        ...             ...
301     228445321   RM -33.202984 -70.677652          COLINA
302     228446910   RM -33.196779 -70.670552          COLINA
303     228445693   RM -33.202952 -70.672505          COLINA
305     228442430   RM -33.208543 -70.682372          COLINA
306     228445748   RM -33.211644 -70.676573          COLINA

[275 rows x 5 columns]

In [5]:
df_fo = pd.read_excel(PATH_FO)
df_fo.describe()

,id_pto_ftth,latitud_ok,longitud_ok,eqpt_capacity,eqpt_vg_qty,oc_ds,porcentaje_ocup_caja
count,3.484000e+03,3484.000000,3484.000000,3484.000000,3484.00000,3484.00000,3484.000000
mean,2.476223e+06,-33.202056,-70.673801,7.756889,5.74225,2.00287,23.659374
std,4.067262e+05,0.013274,0.009063,0.839911,1.56150,1.40341,17.531295
min,1.758698e+06,-33.222792,-70.711280,1.000000,1.00000,0.00000,0.000000
25%,2.120851e+06,-33.214408,-70.681072,8.000000,5.00000,1.00000,12.500000
50%,2.478504e+06,-33.203207,-70.673720,8.000000,6.00000,2.00000,25.000000
75%,2.828275e+06,-33.190197,-70.667940,8.000000,7.00000,3.00000,37.500000
max,3.177018e+06,-33.176260,-70.649690,9.000000,8.00000,5.00000,57.140000

In [6]:
df_rm = pd.read_excel(PATH_RM)
df_rm["vacancia"] = 30
df_rm.describe()

         LATITUD   LONGITUD  vacancia
count  99.000000  99.000000      99.0
mean  -33.504739 -70.714568      30.0
std     0.116812   0.102712       0.0
min   -33.810990 -71.225640      30.0
25%   -33.576260 -70.746720      30.0
50%   -33.509860 -70.695800      30.0
75%   -33.409805 -70.664650      30.0
max   -33.205890 -70.537380      30.0

Creamos las instancias de conexión a la base de datos. Observar que para `rm_db` le entregamos el `DataFrame` directamente.

In [7]:
cliente_db = ClienteDB(df=df_clientes, col_names=["pcm_area_tel", "gl_lat_OK", "gl_lon_OK"])
fo_db = OfertaDB(df=df_fo, col_names=["id_pto_ftth", "latitud_ok", "longitud_ok", "eqpt_vg_qty"])
rm_db = OfertaDB(df=df_rm)

Creamos los conjuntos de nodos

In [8]:
nodos_oferta = NodosOferta(fo_db, rm_db)
nodos_demanda = NodosDemanda(cliente_db)

In [9]:
# modelo1 = Solver1(nodos_oferta, nodos_demanda, verbose=Tru
# modelo.construir_modelo()
# modelo.resolver()
# modelo.variables

In [10]:
# modelo2 = Solver2(nodos_oferta, nodos_demanda, verbose=True)
# modelo2.construir_modelo()
# modelo2.resolver()
# modelo2.variables

In [16]:
modelo3 = Solver3(nodos_oferta, nodos_demanda, a=100, b=1000, c_fo=150, c_rm=600, verbose=True)
modelo3.construir_modelo()
modelo3.resolver()

Construyendo modelo...
Empezando a resolver...
Estado: Optimal
x_(1013,_115) = 1.0
x_(1013,_260) = 1.0
x_(1031,_196) = 1.0
x_(1040,_30) = 1.0
x_(1098,_161) = 1.0
x_(1098,_188) = 1.0
x_(1123,_273) = 1.0
x_(1176,_102) = 1.0
x_(1234,_75) = 1.0
x_(1314,_244) = 1.0
x_(1322,_148) = 1.0
x_(1338,_185) = 1.0
x_(1343,_38) = 1.0
x_(1351,_117) = 1.0
x_(1364,_77) = 1.0
x_(1375,_209) = 1.0
x_(142,_262) = 1.0
x_(1458,_53) = 1.0
x_(1490,_200) = 1.0
x_(1508,_261) = 1.0
x_(1542,_152) = 1.0
x_(1551,_135) = 1.0
x_(1558,_57) = 1.0
x_(1568,_121) = 1.0
x_(1584,_201) = 1.0
x_(1584,_259) = 1.0
x_(1584,_271) = 1.0
x_(1584,_69) = 1.0
x_(1605,_190) = 1.0
x_(1640,_257) = 1.0
x_(1655,_92) = 1.0
x_(1668,_213) = 1.0
x_(1697,_131) = 1.0
x_(1725,_218) = 1.0
x_(173,_109) = 1.0
x_(1746,_47) = 1.0
x_(1770,_217) = 1.0
x_(1784,_1) = 1.0
x_(179,_122) = 1.0
x_(1803,_16) = 1.0
x_(1807,_253) = 1.0
x_(1807,_76) = 1.0
x_(1814,_140) = 1.0
x_(1837,_48) = 1.0
x_(1868,_111) = 1.0
x_(1868,_264) = 1.0
x_(1868,_274) = 1.0
x_(1873,_123) = 1.0
x_(1879,_97) = 1.0
x_(1880,_25) = 1.0
x_(1890,_70) = 1.0
x_(1903,_203) = 1.0
x_(1905,_254) = 1.0
x_(1911,_144) = 1.0
x_(1924,_39) = 1.0
x_(1929,_222) = 1.0
x_(1930,_228) = 1.0
x_(1944,_210) = 1.0
x_(1950,_179) = 1.0
x_(1950,_94) = 1.0
x_(1975,_246) = 1.0
x_(1984,_189) = 1.0
x_(1996,_36) = 1.0
x_(1997,_146) = 1.0
x_(2010,_108) = 1.0
x_(2029,_113) = 1.0
x_(2051,_164) = 1.0
x_(2051,_193) = 1.0
x_(2079,_169) = 1.0
x_(2128,_46) = 1.0
x_(2134,_50) = 1.0
x_(2146,_211) = 1.0
x_(2183,_45) = 1.0
x_(2192,_2) = 1.0
x_(2192,_258) = 1.0
x_(2225,_163) = 1.0
x_(2233,_219) = 1.0
x_(2263,_147) = 1.0
x_(2263,_248) = 1.0
x_(2268,_129) = 1.0
x_(2268,_40) = 1.0
x_(2290,_44) = 1.0
x_(2305,_3) = 1.0
x_(2320,_208) = 1.0
x_(2333,_183) = 1.0
x_(2333,_198) = 1.0
x_(2345,_0) = 1.0
x_(2362,_32) = 1.0
x_(2375,_191) = 1.0
x_(24,_59) = 1.0
x_(240,_137) = 1.0
x_(2402,_130) = 1.0
x_(2414,_250) = 1.0
x_(2435,_79) = 1.0
x_(2478,_62) = 1.0
x_(2492,_151) = 1.0
x_(2511,_216) = 1.0
x_(2522,_61) = 1.0
x_(2546,_35) = 1.0
x_(2559,_37) = 1.0
x_(2598,_204) = 1.0
x_(2598,_263) = 1.0
x_(2644,_223) = 1.0
x_(2696,_20) = 1.0
x_(2698,_156) = 1.0
x_(2699,_202) = 1.0
x_(2699,_34) = 1.0
x_(2711,_19) = 1.0
x_(2736,_24) = 1.0
x_(2748,_14) = 1.0
x_(2816,_15) = 1.0
x_(2819,_11) = 1.0
x_(2840,_101) = 1.0
x_(2842,_28) = 1.0
x_(2848,_42) = 1.0
x_(2856,_22) = 1.0
x_(2860,_9) = 1.0
x_(2888,_116) = 1.0
x_(2888,_184) = 1.0
x_(2888,_199) = 1.0
x_(290,_126) = 1.0
x_(2929,_23) = 1.0
x_(2930,_205) = 1.0
x_(2930,_52) = 1.0
x_(2930,_87) = 1.0
x_(2938,_83) = 1.0
x_(2969,_104) = 1.0
x_(2984,_153) = 1.0
x_(2985,_143) = 1.0
x_(2985,_80) = 1.0
x_(2997,_177) = 1.0
x_(3012,_272) = 1.0
x_(3052,_7) = 1.0
x_(3055,_142) = 1.0
x_(306,_78) = 1.0
x_(3112,_167) = 1.0
x_(3114,_33) = 1.0
x_(3117,_215) = 1.0
x_(3117,_71) = 1.0
x_(3145,_51) = 1.0
x_(3154,_242) = 1.0
x_(3194,_234) = 1.0
x_(3194,_43) = 1.0
x_(3194,_90) = 1.0
x_(3209,_125) = 1.0
x_(3225,_41) = 1.0
x_(3266,_266) = 1.0
x_(3267,_255) = 1.0
x_(3272,_56) = 1.0
x_(3272,_99) = 1.0
x_(3290,_256) = 1.0
x_(3312,_149) = 1.0
x_(3312,_66) = 1.0
x_(3321,_96) = 1.0
x_(3326,_243) = 1.0
x_(3332,_63) = 1.0
x_(3335,_194) = 1.0
x_(334,_168) = 1.0
x_(3340,_127) = 1.0
x_(3375,_107) = 1.0
x_(3380,_232) = 1.0
x_(3410,_114) = 1.0
x_(3434,_233) = 1.0
x_(3467,_252) = 1.0
x_(3536,_103) = 1.0
x_(3536,_12) = 1.0
x_(3536,_141) = 1.0
x_(3536,_150) = 1.0
x_(3536,_159) = 1.0
x_(3536,_165) = 1.0
x_(3536,_166) = 1.0
x_(3536,_172) = 1.0
x_(3536,_175) = 1.0
x_(3536,_180) = 1.0
x_(3536,_195) = 1.0
x_(3536,_221) = 1.0
x_(3536,_226) = 1.0
x_(3536,_229) = 1.0
x_(3536,_26) = 1.0
x_(3536,_27) = 1.0
x_(3536,_270) = 1.0
x_(3536,_5) = 1.0
x_(3536,_58) = 1.0
x_(3536,_65) = 1.0
x_(3536,_84) = 1.0
x_(3536,_85) = 1.0
x_(3536,_98) = 1.0
x_(3583,_105) = 1.0
x_(3583,_110) = 1.0
x_(3583,_118) = 1.0
x_(3583,_120) = 1.0
x_(3583,_124) = 1.0
x_(3583,_13) = 1.0
x_(3583,_132) = 1.0
x_(3583,_133) = 1.0
x_(3583,_136) = 1.0
x_(3583,_139) = 1.0
x_(3583,_145) = 1.0
x_(3583,_154) = 1.0
x_(3583,_155) = 1.0
x_(3583,_158) = 1.0
x_(3583,_162) = 1.0
x_(3583,_17) = 1.0
x_(3583,_173) = 1.0
x_(3583,_174) = 1.0
x_(3583,_176) = 1.0
x_(3583,_18) = 1.0
x_(3583,_181) = 1.0
x_(3583,_186) = 1.0
x_(3583,_192) = 1.0
x_(3583,_206) = 1.0
x_(3583,_207) = 1.0
x_(3583,_212) = 1.0
x_(3583,_227) = 1.0
x_(3583,_230) = 1.0
x_(3583,_231) = 1.0
x_(3583,_235) = 1.0
x_(3583,_237) = 1.0
x_(3583,_238) = 1.0
x_(3583,_247) = 1.0
x_(3583,_249) = 1.0
x_(3583,_265) = 1.0
x_(3583,_267) = 1.0
x_(3583,_29) = 1.0
x_(3583,_31) = 1.0
x_(3583,_4) = 1.0
x_(3583,_54) = 1.0
x_(3583,_64) = 1.0
x_(3583,_68) = 1.0
x_(3583,_72) = 1.0
x_(3583,_73) = 1.0
x_(3583,_86) = 1.0
x_(3583,_88) = 1.0
x_(3583,_93) = 1.0
x_(370,_157) = 1.0
x_(371,_128) = 1.0
x_(371,_6) = 1.0
x_(390,_91) = 1.0
x_(397,_224) = 1.0
x_(4,_119) = 1.0
x_(4,_197) = 1.0
x_(406,_160) = 1.0
x_(454,_10) = 1.0
x_(454,_81) = 1.0
x_(471,_268) = 1.0
x_(496,_236) = 1.0
x_(515,_89) = 1.0
x_(526,_178) = 1.0
x_(537,_21) = 1.0
x_(564,_220) = 1.0
x_(579,_8) = 1.0
x_(608,_225) = 1.0
x_(637,_82) = 1.0
x_(640,_60) = 1.0
x_(645,_112) = 1.0
x_(736,_241) = 1.0
x_(764,_240) = 1.0
x_(783,_171) = 1.0
x_(783,_95) = 1.0
x_(788,_187) = 1.0
x_(815,_245) = 1.0
x_(854,_214) = 1.0
x_(863,_239) = 1.0
x_(898,_100) = 1.0
x_(913,_134) = 1.0
x_(913,_170) = 1.0
x_(920,_138) = 1.0
x_(920,_55) = 1.0
x_(935,_67) = 1.0
x_(961,_49) = 1.0
x_(961,_74) = 1.0
x_(97,_269) = 1.0
x_(970,_106) = 1.0
x_(970,_251) = 1.0
x_(989,_182) = 1.0

In [19]:

df = pd.DataFrame(columns=["cl_id", "cl_lat", "cl_lon", "cate_oferta", "oferta_id"])

for j in modelo3.demanda.indice:
    for i in modelo3.demanda[j].vecinos:
        var = modelo3.x[i, j]
        if var.varValue != 0:
            df.at[j, "cl_id"] = int(modelo3.demanda[j].id)
            df.at[j, "cl_lat"] = modelo3.demanda[j].lat
            df.at[j, "cl_lon"] = modelo3.demanda[j].lon
            df.at[j, "cate_oferta"] = modelo3.oferta[i].cate
            df.at[j, "oferta_id"] = modelo3.oferta[i].id
            
df

         cl_id     cl_lat     cl_lon cate_oferta  oferta_id
0    228440583  -33.20506 -70.671429          FO  2716184.0
1    228603381 -33.181246 -70.659071          FO  2498715.0
2    228602696 -33.194427 -70.667572          FO  2656793.0
3    228449326 -33.203642 -70.673384          FO  2699989.0
4    228440972 -33.181033 -70.646756    Sumidero
..         ...        ...        ...         ...        ...
270  228445321 -33.202984 -70.677652          RM   CLINFD13
271  228446910 -33.196779 -70.670552          FO  2414791.0
272  228445693 -33.202952 -70.672505          FO  2986891.0
273  228442430 -33.208543 -70.682372          FO  2229986.0
274  228445748 -33.211644 -70.676573          FO  2533656.0

[275 rows x 5 columns]

In [20]:
modelo3.save(path.join(PATH_DATA, "resultado.xlsx"))

In [ ]:
len(modelo3.variables), len(modelo3.x)